<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.april.achieveit_userinfo.mapper.ProjectUserRelationMapper">
  <resultMap id="BaseResultMap" type="com.april.achieveit_userinfo_interface.entity.ProjectUserRelation">
    <constructor>
      <arg column="referred_project_id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="referred_user_id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="referred_superior_id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="referred_project_role_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    referred_project_id, referred_user_id, referred_superior_id, referred_project_role_id
  </sql>
  <insert id="insert" parameterType="com.april.achieveit_userinfo_interface.entity.ProjectUserRelation">
    insert into ProjectUserRelation (referred_project_id, referred_user_id, referred_superior_id,
      referred_project_role_id)
    values (#{referredProjectId,jdbcType=CHAR}, #{referredUserId,jdbcType=CHAR}, #{referredSuperiorId,jdbcType=CHAR},
      #{referredProjectRoleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.april.achieveit_userinfo_interface.entity.ProjectUserRelation">
    insert into ProjectUserRelation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="referredProjectId != null">
        referred_project_id,
      </if>
      <if test="referredUserId != null">
        referred_user_id,
      </if>
      <if test="referredSuperiorId != null">
        referred_superior_id,
      </if>
      <if test="referredProjectRoleId != null">
        referred_project_role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="referredProjectId != null">
        #{referredProjectId,jdbcType=CHAR},
      </if>
      <if test="referredUserId != null">
        #{referredUserId,jdbcType=CHAR},
      </if>
      <if test="referredSuperiorId != null">
        #{referredSuperiorId,jdbcType=CHAR},
      </if>
      <if test="referredProjectRoleId != null">
        #{referredProjectRoleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <delete id="deleteByProjectIdAndUserId">
    DELETE
    FROM ProjectUserRelation
    WHERE 1=1
    <if test="projectId != null">
      AND referred_project_id = #{projectId,jdbcType=CHAR}
    </if>
    <if test="userId != null">
      AND referred_user_id=#{userId,jdbcType=CHAR}
    </if>
  </delete>
  <select id="selectByProjectIdAndUserId"
          resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM ProjectUserRelation
    WHERE 1=1
    <if test="projectId != null">
      AND referred_project_id=#{projectId,jdbcType=CHAR}
    </if>
    <if test="userId != null">
      AND referred_user_id=#{userId,jdbcType=CHAR}
    </if>
  </select>
  <select id="selectBySuperiorId"
          resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM ProjectUserRelation
    WHERE referred_superior_id = #{superiorId,jdbcType=CHAR}
    <if test="projectId != null">
      AND referred_project_id=#{projectId,jdbcType=CHAR}
    </if>
  </select>
</mapper>