<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.april.achieveit_userinfo.mapper.ProjectRolePermissionRelationMapper">
  <resultMap id="BaseResultMap" type="com.april.achieveit_userinfo_interface.entity.ProjectRolePermissionRelation">
    <constructor>
      <arg column="referred_project_role_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="referred_permission_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.april.achieveit_userinfo_interface.entity.ProjectRolePermissionRelation">
    insert into ProjectRolePermissionRelation (referred_project_role_id, referred_permission_id
      )
    values (#{referredProjectRoleId,jdbcType=BIGINT}, #{referredPermissionId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.april.achieveit_userinfo_interface.entity.ProjectRolePermissionRelation">
    insert into ProjectRolePermissionRelation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="referredProjectRoleId != null">
        referred_project_role_id,
      </if>
      <if test="referredPermissionId != null">
        referred_permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="referredProjectRoleId != null">
        #{referredProjectRoleId,jdbcType=BIGINT},
      </if>
      <if test="referredPermissionId != null">
        #{referredPermissionId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>