<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.april.achieveit_userinfo.mapper.ProjectUserPermissionRelationMapper">
  <resultMap id="BaseResultMap" type="com.april.achieveit_userinfo_interface.entity.ProjectUserPermissionRelation">
    <constructor>
      <arg column="referred_project_id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="referred_user_id" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="referred_permission_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.april.achieveit_userinfo_interface.entity.ProjectUserPermissionRelation">
    insert into ProjectUserPermissionRelation (referred_project_id, referred_user_id, referred_permission_id
      )
    values (#{referredProjectId,jdbcType=CHAR}, #{referredUserId,jdbcType=CHAR}, #{referredPermissionId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.april.achieveit_userinfo_interface.entity.ProjectUserPermissionRelation">
    insert into ProjectUserPermissionRelation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="referredProjectId != null">
        referred_project_id,
      </if>
      <if test="referredUserId != null">
        referred_user_id,
      </if>
      <if test="referredPermissionId != null">
        referred_permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="referredProjectId != null">
        #{referredProjectId,jdbcType=CHAR},
      </if>
      <if test="referredUserId != null">
        #{referredUserId,jdbcType=CHAR},
      </if>
      <if test="referredPermissionId != null">
        #{referredPermissionId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>